<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="2" parallel="classes">
    <test name="TwoClassesTests">
        <classes>
            <class name="Test1">
                <methods>
                    <exclude name="selectors"/>
                </methods>
            </class>
            <class name="Test2">
                <methods>
                    <include name="classNameSecond"/>
                    <include name="classNameFirst"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>